{% extends 'base.html' %}

{% block title %} <title>Вопросы</title> {% endblock %}

{% block admin-panel %}
<div class="btn-group">
    <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Создать
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'polls:question_new' %}">Новый опрос</a>
        <a class="dropdown-item" href="{% url 'polls:create_choice' %}">Новый вариант выбора</a>
    </div>
</div>
{% endblock admin-panel %}

{% block content %}
<h1>
    <p align="center" style="color:white" class="p-3">
        Опросы
</h1>

{% if latest_question_list %}

<ul class="list-group-flush">
    {% for question in latest_question_list %}
    <p align="center" style="color:white">

        <li class="list-group-item">
            <h3><a style="color:white" href="{% url 'polls:detail' question.id %}">{{ question.question_text}}</a>
        </li>
        </h3>
        {% endfor %}
</ul>
{% else %}
<p align="center" style="color:white"> Нет доступных опросов</p>
{% endif %}
{% endblock content %}